/***** Reset & Basics *****/

	html, body, div, span, applet,
	object, iframe, h1, h2, h3, h4,
	h5, h6, p, blockquote, pre, a,
	abbr, acronym, address, big, cite,
	code, del, dfn, em, img, ins, kbd,
	q, s, samp, small, strike, strong,
	sub, sup, tt, var, b, u, i, center,
	dl, dt, dd, ol, ul, li, fieldset,
	form, label, legend, table, caption,
	tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details,
	embed, figure, figcaption, footer,
	header, hgroup, menu, nav, output,
	ruby, section, summary, time, mark,
	audio, video 							{ margin: 0; padding: 0; border: 0; font-size:100%; font:inherit; vertical-align:baseline; }
	
	article, aside, details, figcaption, 
	figure, footer, header, hgroup, menu, 
	nav, section 							{ display:block; }
	
	body 									{ line-height:1; }
	
	ol, ul 									{ list-style:none; }
	
	blockquote, q 							{ quotes:none; }
	
	blockquote:before, blockquote:after,
	q:before, q:after 						{ content:''; content:none; }
	
	table 									{ border-collapse:collapse; border-spacing:0; }
		
/***** Basic Styles *****/
	
	html 									{ overflow-y:scroll; overflow:-moz-scrollbars-vertical; }
	body									{ margin:0px 0 0 0; padding:0; background:#FFF url("../images/bright_squares.png"); font:12px "Century Gothic", "Trebuchet MS", Helvetica, sans-serif; color:#333; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; }
	body.adam 								{ margin:0px 0 0 0; padding:0; background:#FFF url("../images/grid_noise.png"); font:12px "Century Gothic", "Trebuchet MS", Helvetica, sans-serif; color:#333; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; }

/***** Typography *****/

	h1, h2, h3, h4, h5, h6 					{ margin:0; padding:0; font-family:"Georgia", "Times New Roman", Helvetica, Arial, sans-serif; font-weight:normal; } 
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a 		{ font-weight: inherit; }
	h1 										{ margin:0 0 10px 0; padding:0; font-size:28px; color:#333; }
	h2										{ margin:0 0 10px 0; padding:0; font-size:22px; color:#333; }
	h3 										{ margin:0 0 10px 0; padding:0; font-size:16px; color:#333;  }
	h4 										{ margin:0 0 10px 0; padding:0; font-size:16px; color:#333; font-weight:bold; }
	h5 										{ margin:0 0 10px 0; padding:0; font-size:12px; color:#333; font-weight:bold; }
	h6 										{ margin:0 0 10px 0; padding:0; font-size:10px; color:#333; }

	p 										{ margin:0; padding:0 0 10px 0; line-height:16px; }

	sup, sub 								{ height:0;	line-height:1px; vertical-align:baseline; _vertical-align:bottom; position:relative; }
	sup 									{ bottom:1px; }
	sub 									{ top:1px; font-size:.6em; }
	em 										{ font-style:italic; color:#666; }
	strong 									{ font-weight:bold; color:#333; }
	small 									{ font-size:80%; }
	
/***** Blockquotes *****/

	blockquote, blockquote p 				{ font-size:12px; line-height:24px; color:#777; font-style:italic; }
	blockquote 								{ margin:10px 0 15px 0; padding:0 0 0 5px; border-left:1px solid #747474; }
	blockquote cite 						{ display:block; font-size:12px; color:#555; }
	blockquote cite:before 					{ content:"\2014 \0020"; }
	blockquote cite a,
	blockquote cite a:visited,
	blockquote cite a:visited 				{ color:#555; }
	blockquote span							{ width:15px; display:inline-block; }
	
	hr 										{ margin:20px 0 20px 0; border:0; border-top:1px solid #999; height:2px; width:100%; text-align:left; }

/***** Links *****/

	a:link 									{ color:#333; text-decoration:none; outline:0; transition-property:color .1s linear 0s; -moz-transition:color .1s linear 0s; -webkit-transition:color .1s linear 0s; -o-transition:color .1s linear 0s; }
	a:visited 								{ color:#333; text-decoration:none; outline:0; }
	a:active 								{ color:#333; text-decoration:none; outline:0; }
	a:hover 								{ color:#999; text-decoration:underline; outline:0; }
	a:focus 								{ -moz-outline-style:none; }

/***** Lists *****

	ul, ol 									{ margin-bottom:20px; }
	ul 										{ list-style:none outside; }
	ol 										{ list-style:decimal; }
	ol, ul.square, ul.circle, ul.disc 		{ margin-left:15px; }
	ul.square 								{ list-style:square outside; }
	ul.circle 								{ list-style:circle outside; }
	ul.disc 								{ list-style:disc outside; }
	ul.fancy li								{ padding:0 0 0 15px; background:transparent url('../images/bullet.png') no-repeat 0 3px; }
	ul ul, ul ol, ol ol, ol ul 				{ margin:4px 0 5px 30px; font-size:90%;  }
	ul ul li, ul ol li,	ol ol li, ol ul li 	{ margin-bottom:6px; }
	li 										{ line-height:18px; margin-bottom:12px; }
	ul.large li 							{ line-height:21px; }
	li p 									{ line-height:21px; }

/***** Images *****/

	img 									{ border:0; -ms-interpolation-mode:bicubic; }
	.max-image 								{ width:100%; height:auto; }		
	.video-container 						{ position:relative; margin:0 0 15px 0;	padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:1px solid #ccc; }
	.video-container iframe,
	.video-container object,  
	.video-container embed 					{ position:absolute; top:0; left:0; width:100%; height:100%; }

/***** Buttons  *****/
 
	a.btn 									{ margin:5px 5px 5px 5px; padding:4px 8px 4px 8px; display: inline-block; font-size:16px; color:#fff; background:#00cc3f; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; cursor:pointer; float: right; }
	a:hover.btn 							{ }

/***** Forms *****/

	#stylized-form							{ margin:10px 0 20px 0; padding:20px; background-color:#f4f4f4; -webkit-border-radius:4px; -moz-border-radius:4px; }
	
	.wrapper-block label 					{ padding:0; display:block; font-weight:bold; text-align:right; width:140px; float:left; }
	.wrapper-block [type="text"]			{ font-size:12px; padding:4px 2px; border:solid 1px #bbbbbb; width:200px; margin:2px 0 15px 10px; }
	.wrapper-block select					{ font-size:12px; padding:2px; border:solid 1px #bbbbbb; margin:2px 0 15px 10px; }
	.wrapper-block [type="radio"]			{ line-height:16px; margin:0 2px 15px 10px; }
	.wrapper-block [type="checkbox"]		{ line-height:16px; margin:0 2px 15px 10px; }
	.wrapper-block textarea					{ padding:4px 2px; border:solid 1px #bbbbbb; width:200px; margin:2px 0 15px 10px; font:12px "Century Gothic", "Trebuchet MS", Helvetica, sans-serif; }
	
	.wrapper-inline label 					{ padding:0; display:block; font-weight:bold; text-align:right; width:140px; float:left; }
	.wrapper-inline [type="text"]			{ font-size:12px; padding:4px 2px; border:solid 1px #bbbbbb; width:200px; margin:2px 0 15px 10px;  float:left; }
	.wrapper-inline select					{ font-size:12px; padding:4px 2px; border:solid 1px #bbbbbb; margin:2px 0 15px 10px; float:left; }
	.wrapper-inline [type="radio"]			{ line-height:16px; margin:0 2px 15px 10px; float:left; }
	.wrapper-inline [type="checkbox"]		{ line-height:16px; margin:0 2px 15px 10px; float:left; }
	.wrapper-inline textarea				{ padding:4px 2px; border:solid 1px #bbbbbb; width:140px; margin:2px 0 15px 10px; font:12px "Century Gothic", "Trebuchet MS", Helvetica, sans-serif; float:left; }
	
	a.btn-form, input.btn-form				{ margin:5px 0 5px 150px; padding:4px 28px 4px 8px; display:inline-block; font-size:11px; color:#fff; border:1px solid #444; background:#333 url(../images/btn-arrow.png) no-repeat right; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; cursor:pointer; }
	
	.small-label							{ display:block; font-size:10px; font-weight:normal; color:#666; text-align:right; width:140px; }

/***** Tables  *****/

	table									{ margin:0 0 20px 0; width:100%; }
	table th 								{ padding:10px 8px 10px 8px; background-color:#e2e2e2; color:#333; font-weight:bold; border:1px solid #999; }
	table td 								{ padding:10px 8px 10px 8px; background-color:#e2e2e2; color:#333; border:1px solid #999; }
	table tr.even td 						{ background-color:#fff; }
	table tr.odd td 						{ background-color:#f3f3f3; }
	table td.highlight 						{ color:#FFF; font-weight:bold; }
	table tr td.highlight					{ background-color:#333;  }

/***** Back to Top *****/

	#toTop 									{ display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; overflow:hidden; width:51px; height:51px; border:none; text-indent:-999px; background:url(../images/ui.totop.png) no-repeat left top; }
	#toTopHover 							{ background:url(../images/ui.totop.png) no-repeat left -51px; width:51px; height:51px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
	#toTop:active, #toTop:focus 			{ outline:none; }
		
/***** Global Classes *****/

	.img-left   							{ float:left; margin:0 30px 30px 0; border:none; }
	.img-right  							{ float:right; margin:0 0 30px 30px; border:none; }

	.clear       							{ clear:both; }
	.float-left 							{ float:left; }
	.float-right   							{ float:right; }

	.text-big								{ color:#a2bd30; font-weight:bold; line-height:26px; }
	.text-left    							{ text-align:left; }
	.text-right    							{ text-align:right; }
	.text-center   							{ text-align:center; }
	.text-justify  							{ text-align:justify; }

	.normal									{ font-weight:normal; }
	.bold          							{ font-weight:bold; }
	.italic        							{ font-style:italic; }
	.underline     							{ border-bottom:1px solid; }
	.highlight     							{ background:#ffc; }

	.nopadding 						   		{ padding:0; }
	.noindent  						   		{ margin-left:0; padding-left:0; }
	.nobullet  					   			{ list-style:none; list-style-image:none; }

	.block									{ display:block; }
	.hidden									{ display:none; }
	.hide 									{ display:none; }
	
/***** Amazium *****/

	a:link.amazium, a:visited.amazium 		{ margin:20px 0 20px 0; height:22px; line-height:22px; display:block; font-style:italic; text-decoration:none; background:url(../images/amazium.jpg) no-repeat right top; padding:0 30px 0 0; }
	a:hover.amazium, a:active.amazium 		{ height:22px; line-height:22px; display:block; font-style:italic; text-decoration:underline; background:url(../images/amazium.jpg) no-repeat right top; padding:0 30px 0 0; }
	
/***** Header *****/
	
	#header 								{ background-image:url('../images/hexellence2.png'); background-repeat:repeat-x; -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.2); box-shadow: 0 0 5px 5px rgba(0,0,0,0.2); }
	#logo-header 							{ background-image:url('../images/hexellence2.png'); background-repeat:repeat-x; -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.2); box-shadow: 0 0 5px 5px rgba(0,0,0,0.2); }

/***** Adam *****/

	#adam 									{ padding:12.5px 0 12.5px 0; }
	#goldeneye 								{ padding:0 0 50px 0; }
	#giants 								{ padding:0 0 200px 0; }
	#button 								{ margin:47px 5px 0 0; }
	h1.bubble								{ background:#333; color:#fff; padding:5px 5px; float:left;}
	p.magnify 								{ padding:10px 0 20px 0; }
	img.shadow 								{ -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1); box-shadow: 0 0 5px 5px rgba(0,0,0,0.1); }
	.favorite 								{ list-style-type:none; }
	.favorite li 							{ margin-right:4px; width:304px; height:171px; float:left; position:relative; overflow:hidden; border:0px solid #999; }
	ul 										{ margin-bottom:5px; overflow:hidden; }
	#wrapper div 							{ position:relative; overflow:hidden; }
	img.favs 								{ position:absolute; }

/***** Sprite Animation *****/

	#sprite {
	width:400px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
	background:url(../images/Code_Foo_Lakitu_Sprite.png) 0 0;
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:step-start;
	-webkit-animation-name:animate01;
	-moz-animation-duration:5s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:step-start;
	-moz-animation-name:animate01;
}

@-webkit-keyframes animate01 {
 8%			{ background-position:   0px 0; }
 16%		{ background-position:9600px 0; }
 24%		{ background-position:9200px 0; }
 32%		{ background-position:8800px 0; }
 40%		{ background-position:8400px 0; }
 48%		{ background-position:8000px 0; }
 56%		{ background-position:7600px 0; }
 58%		{ background-position:7200px 0; }
 60%		{ background-position:6800px 0; }
 62%		{ background-position:6400px 0; }
 64%		{ background-position:6000px 0; }
 66%		{ background-position:5600px 0; }
 68%		{ background-position:5200px 0; }
 70%		{ background-position:4800px 0; }
 72%		{ background-position:4400px 0; }
 74%		{ background-position:4000px 0; }
 76%		{ background-position:3600px 0; }
 78%		{ background-position:3200px 0; }
 80%		{ background-position:2800px 0; }
 82%		{ background-position:2400px 0; }
 84%		{ background-position:2000px 0; }
 86%		{ background-position:1600px 0; }
 88%		{ background-position:1200px 0; }
 96%		{ background-position:800px 0; }
 100%		{ background-position:400px 0; }
}

@-moz-keyframes animate01 {
  8%		{ background-position:   0px 0; }
 16%		{ background-position:9600px 0; }
 24%		{ background-position:9200px 0; }
 32%		{ background-position:8800px 0; }
 40%		{ background-position:8400px 0; }
 48%		{ background-position:8000px 0; }
 56%		{ background-position:7600px 0; }
 58%		{ background-position:7200px 0; }
 60%		{ background-position:6800px 0; }
 62%		{ background-position:6400px 0; }
 64%		{ background-position:6000px 0; }
 66%		{ background-position:5600px 0; }
 68%		{ background-position:5200px 0; }
 70%		{ background-position:4800px 0; }
 72%		{ background-position:4400px 0; }
 74%		{ background-position:4000px 0; }
 76%		{ background-position:3600px 0; }
 78%		{ background-position:3200px 0; }
 80%		{ background-position:2800px 0; }
 82%		{ background-position:2400px 0; }
 84%		{ background-position:2000px 0; }
 86%		{ background-position:1600px 0; }
 88%		{ background-position:1200px 0; }
 96%		{ background-position:800px 0; }
 100%		{ background-position:400px 0; }
}

 /***** Accordion *****/

div.va-container{
	position:relative;
	margin:0 0 10px 0;
}
.va-wrapper{
	width:930px;
	height:450px;
	position:relative;
	overflow:hidden;
	background:#000;
}
.va-slice{
	cursor:pointer;
	position:absolute;
	width:930px;
	left:0px;
	overflow:hidden;
}
.va-slice-1{
	background:#000 url(../images/tmnt.png) no-repeat center center;
}
.va-slice-2{
	background:#000 url(../images/jam.png) no-repeat center center;
}
.va-slice-3{
	background:#000 url(../images/rampage.png) no-repeat center center;
}
.va-slice-4{
	background:#000 url(../images/street.png) no-repeat center center;
}
.va-slice-5{
	background:#000 url(../images/simpsons.png) no-repeat center center;
}
.va-slice-color-1{
	background-color:#97c5eb;
}
.va-slice-color-2{
	background-color:#68ace5;
}
.va-slice-color-3{
	background-color:#0072cf;
}
.va-slice-color-4{
	background-color:#0039a6;
}
.va-slice-color-5{
	background-color:#00338e;
}
.va-title{
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	text-transform:uppercase;
	font-size:60px;
	margin-left:20px;
	color:#fff;
	text-shadow: 0px 0px 1px white;
}
.va-content{
	display:none;
	margin-left:25px;
}
.va-slice p{
	color:#fff;
	font-size: 22px;
	font-style: italic;
	font-family:Georgia, serif;
}
.va-slice ul{
	margin-top:20px;
}
.va-slice ul li{
	color:#fff;
	background:#00cc3f;
	float:left;
	margin:0px 2px;
}
.va-slice ul li a{
	color:#fff;
	background:#00cc3f;
	padding:3px 6px;
	font-size:14px;
	font-family:'PT Sans', sans-serif;
}
/*.va-slice ul li a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;*/
}
.va-nav span{
	width:40px;
	height:25px;
	background:transparent url(../images/prev.png) no-repeat center center;
	position:absolute;
	top:0px;
	left:465px;
	margin-left:-20px;
	text-indent:-9000px;
	opacity:0.5;
	cursor:pointer;
	display:none;
	z-index:100;
}
.va-nav span.va-nav-next{
	background-image:url(../images/next.png);
	top:auto;
	bottom:0px;
}
.va-nav span:hover{
	opacity:1.0;